<footer>
    <div class="container">
        <p>&copy; 2025 Your Company. All rights reserved.</p>
        <p>
            Need assistance? Contact us at 
            <a href="mailto:support&#64;yourcompany.com">support&#64;yourcompany.com</a>
        </p>
        <div>
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a> |
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>
