/* body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
} */




/* Existing navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a23;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-auth {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  border: none;
  background: linear-gradient(to right, #007d84, #4caf50);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn-login {
  background: linear-gradient(to right, #007d84, #4facfe);
}

.btn-logout {
  background: linear-gradient(to right, #840025, #fe4f81);
}



